<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"> <!--기본은 아래꺼. 위에가 절대경로-->
    <link   th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>Todo 목록</h2> </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addList.html'"
                    th:onclick="|location.href='@{/basic/todolist/add}'|"
                    type="button">할일 등록</button> </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th> <th>What to do</th> <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todoit : ${todolist}">
                <td><a href="todoit.html" th:href="@{/basic/todolist/{todoid}(todoid=${todoit.id})}" th:text="${todoit.id}">listId</a></td>
                <td><a href="todoit.html" th:href="@{|/basic/todolist/${todoit.id}|}" th:text="${todoit.doList}"> Do</a></td>
                <td><a href="todoit.html" th:href="@{|/basic/todolist/${todoit.id}|}" th:text="${todoit.localDateTime}">10000</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>